mindmap
misc
.ipynb_checkpoints
lectures/.ipynb_checkpoints
lectures/*.aiml  
lectures/figures/KR1/.ipynb_checkpoints
playground/.ipynb_checkpoints
tutorials/.ipynb_checkpoints
tutorials/*.aiml  
coursework/.ipynb_checkpoints
coursework/ChatbotCoursework/*cats*.aiml
coursework/MLCoursework/ruleLearner_class/py-files/correct*
.DS_Store
*.pyc
AIenv/bin
AIenv/lib
AIenv/include
AIenv/etc
AIenv/share
AIenv/pyenv.cfg
aimldist
.idea
*.code-workspace
.vscode
